@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&family=Ubuntu&display=swap');

* {
    font-family: 'Nunito Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

/* estilizando meu body, minhas seções, meu footer e meu elementos------------------------------------------------*/
body{
    background-color:  #ebeaeaeb;
    color:whitesmoke;
    
}

section, footer{
    padding: auto;
    /* espaçamento interno */
}

h3{
    font-size: 50px;
}

p{
    color: wheat;
}

 
/* estilizando meu header e seu conteúdo---------------------------------------------------------------------------*/
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
 color:  #f5f5f5;
 text-decoration: none;
 font-size: 16px;
 display: block;
}

nav ul a:hover {
    color: #1d2951 ;
    font-weight: bold;
    transition: all .3s ease-out;
}

li{
    display: inline-block;
    margin: 20px;
}

#login-link{
    border: 2px solid #1d2951;
    padding: 10px;
    border-radius: 12px;
}

#login-link:hover{
    color: whitesmoke ;
    background-color: #1d2951;
    border: 2px solid #1d2951;
}

#tittle{
    flex-direction: column;
    font-size: 22px;
    font-weight: 200;
    line-height: 30px;
}
#tittle h1{
    font-weight: 200;
}

.btnContato{
    border: 2px solid #1d2951;
    background-color: #1d2951;
    padding: 9px;
    border-radius: 12px;
    color: whitesmoke;
    margin: 20px;
}

.btnContato:hover{
    transition: all 3.s ease-out;
    color: whitesmoke;
    border: 2px solid #152045;
    background-color: #152045;
}

.botaoSite{
    border: 2px solid #0b132f;
    background-color: #0b132f
    ;
    padding: 12px;
    border-radius: 12px;
    color: whitesmoke;
    margin: 20px;
}

.botaoSite:hover{
    border: 2px solid #080f29;
    background-color: #080f29;
    color: whitesmoke;

}

.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text{
    margin: 130px;
    text-align: center;
    padding:  0 70px;
    justify-content: space-between;  
}

.banner .banner-text h1{
 font-size: 60px;
 color: white;
 font-weight: 550;
 margin-bottom: 70px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner .banner-text p{
    font-size: 20px;
    color: whitesmoke ;
    font-weight: lighter;
    margin-bottom: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

/* estlizando meu conteúdo da página--------------------------------------------------------------------------- */
